body {
    background-color: #5bc0de;
    max-width: 600px;
    min-height: 400px;
    min-width: 400px;
    max-height: 1000px;
    color: darkslategrey;
    padding: 2% 0% 0% 0%;
}

#input_area {
    align-self: center;
    background-color: #e4946b;
    border: 10px double #eee;
    margin: auto;
    text-align: center;
    font-style: oblique;
    font-size: 30px;
    max-width: inherit;
    max-height: inherit;
    margin-bottom: auto;
}

form {
    padding: 5%;
    max-width: inherit;
    margin-bottom: auto;
}

.list-group {
    padding: 0% 1% 1% 1%;
    font-size: 20px;
    margin-bottom: auto;
}
.list-group-item{
    background-color:#d9534f;
    color:wheat;
}

input[type="submit"] {
    width: 90%;
    vertical-align: top;
}

.badge {
    font-size: 25px;
    background-color: inherit;
}
