body {
    background-color: honeydew;
     max-width:400px;
     min-height: 400px;
     min-width:600px;
     max-height:1000px;
     padding: 2% 5% 5% 10%;
}

#input_area {
    align-self:center;
    background-color: antiquewhite;
    border: 10px double seagreen;
    margin: auto;
    color: seagreen;
    text-align: center;
    font-style: oblique;
    font-size: 30px;
    max-width:inherit;
    max-height:inherit;

}

form {
    padding: 5%;
    max-width:inherit;
    margin-bottom:auto;
}

#output_area {
    background-color: Highlight;
    border: 10px groove;
    margin: inherit;
    color: crimson;
    font-style: oblique;
    font-size: 20px;
    max-width:inherit;
     max-height:300px;
     text-align:left;
}

.container-fluid {
    display: table-cell;
    letter-spacing: 1px;
    border: 1px double seagreen;
}

input[type="radio"]{
    display: inline-block;
    vertical-align: middle;
    text-anchor:start;
    cursor: pointer;
}


input[type="number"] {
   display: flex;
       text-anchor:start;

   vertical-align: baseline;
    
}

input[type="submit"]{
    width:90%;
    vertical-align:top;

}

.badge{
    font-size:25px;
    background-color:inherit;
    color:red;
}